html
    head
        meta(charset='UTF 8')
        meta(
                name='viewport'
                content ='width=device-width, initial-scale=1.0'
        )
        //-путь для паблика через експресс не надо прописыват весь путь
        link(
            rel='stylesheet'
            href='css/style.css'
        )
        link(
            rel='stylesheet'
            href='/bootstrap/bootstrap.css'
        )
    body
        .container
            .row
              .col-md-4.offset-md-4.d-flex.justify-content-center.align-items-center(style='margin-top: 15px;')
                h3 Featured Items
            .row
              .col-md-6.offset-md-3.d-flex.justify-content-center.align-items-center
                p Shop for items based on what we&apos;ve featured this week!
