html
    head
        meta(charset='UTF 8')
        meta(
                name='viewport'
                content ='width=device-width, initial-scale=1.0'
        )
        //-путь для паблика через експресс не надо прописыват весь путь
        link(
            rel='stylesheet'
            href='css/style.css'
        )
        link(
            rel='stylesheet'
            href='/bootstrap/bootstrap.css'
        )
        script(
          src='https://kit.fontawesome.com/a4a9a5e4f1.js' 
          crossorigin='anonymous')
        link(
          href='https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css' 
          media='all' 
          rel='stylesheet')
        link(
          href='https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css' 
          media='all' 
          rel='stylesheet')
        link(
          href='https://kit-free.fontawesome.com/releases/latest/css/free.min.css' 
          media='all' 
          rel='stylesheet')

        
            
        title My shop
    body
        

    

    

